.box{
  margin: 25% 25% 25% 25%;
  height: 50%;
  width: 50%;
  background-color: black;
  color: white;
  text-align: center;
}

.outer-box{

  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFCC00;
}
html {
  height: 100%;
}
#root{
  height: 100%;
}